*
{
	margin: 0;
	padding: 0;
}
.header
{
	   background: rgba(0,0,100,0.4);
      height: 100vh;
}
.video-background
{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}
@media (min-aspect-ratio:16/9)
{
	.video-background
	{
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio:16/9)
{
	.video-background
	{
		width: auto;
		height: 100%;
	}
}
.logo
{
	margin: 25px;
	height: 40px;
}
.welcome-msg
{
	position: relative;
	text-align: center;
	font-family: monospace;
	color: #ff6;
	top: 150px;
}
.welcome-msg h1
{
	font-size: 80px;
	font-weight: 100;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
.btn
{
	font-size: 18px;
	color: #fff;
	margin: 5px;
	padding: 7px 22px;
	text-decoration: none;
	border:1px solid coral;
	border-radius: 25px;
}
.btn-subscribe
{
	background:coral;
}
.btn-Comment:hover
{
	background:coral;
	transition: .5s;
}
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
section.sec1
{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: url('436172.jpg');
	background-size: cover;
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.6);
	padding: 0 100px;
	box-sizing: border-box;
}
nav .brand
{
	float: left;
	height: 100%;
	line-height: 70px;
}
nav .brand h2
{
	margin: 0;
	padding: 0;
	color: #fff;
}
nav ul
{
	float: right;
	display: flex;
	margin: 0;
	padding: 0;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
nav ul li a:hover
{
	color: #262626;
}
nav ul li a:before
{
	content:'';
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition:transform.5s;
}
nav ul li a:hover:before
{
	transform-origin: left;
	transform: scaleX(1);
}
*
{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body
{
	height: 2000px;
}
#top
{
	position: fixed;
	bottom: 80px;
	right: 40px;
	width: 180px;
	height: 180px;
}